@import "../../styles/Theme";

.console {
  display: flex;
  flex-direction: column;
  background-color: $background;
  color:white;
  height: 100%;
  
  .server_messages{
    display:flex;
    flex-direction: column;
    flex:1;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    color:white;
  }
  .server_messages>div:last-child{
    scroll-snap-align: end;
  }
  .server_messages::-webkit-scrollbar{
    width: 10px;
  }
  .server_messages::-webkit-scrollbar-thumb {
    background: #242424;
  }
  .server_messages::-webkit-scrollbar-thumb:hover {
    background: #282828;
  }
  .input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    .command{
      cursor: pointer;
    }
    button{
      width:80px;
      background-color:$primary;
    }
  }
  .clear{
    display:flex;
    justify-content: space-between;
    span{
      cursor: pointer;
    }
  }
}

.console-message {
  color:white;
  padding-left:5px;
  padding-right:5px;
  .Chat{
    color:lightblue;
    padding-right:5px;
  }
  .Generic{
    color:greenyellow;
    padding-right:5px;
  }
  .Warning{
    color:$error;
    padding-right:5px;
  }
}
