@import "../../styles/Theme";


.server-stats {
  display: flex;
  height: 100%;
  background-color: $stats_background;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .m-top {
    margin-top: 10px;
  }
  .m-topleft {
    margin-top: 10px;
    margin-left: 10px;
  }

  .rotateAnimation {
    .action {
      .icon {
        animation:spin 1s;
      }
    }
  }
}

.leftsidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 100px;
  button{
    margin:10px 0px 10px 0px;
  }
}

@keyframes spin { 50% {transform: rotate(90deg);}}

.playerinfo{
  color:white;
}