@import "../../styles/Theme";


.server-stats{
    display:flex;
    height: 100%;
    background-color:$stats_background;
    
    .content{
        display:flex;
        flex-direction: column;
        width:100%;
        height: 100%;
        padding:20px;
    }
}

.leftsidebar{
    display:flex;
    flex-direction: column;
    padding:10px;
}