@import "../../styles/Theme";

.stat-card {
  background-color: $background;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 300px;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(85, 73, 219, 0.3);
    .info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      .title {
        color: lightgray;
        font-size: small;
      }
      .value{
        font-size:x-large;
      }
    }
  }
  .action{
    display:flex; 
    align-items: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 5px;
    .icon{
      :hover{
        cursor: pointer;
      }
    }
    .name{
        display:flex;
        font-size: small;
        padding-left:10px;
        padding-bottom: 5px;
    }
    }
}
